spring:
    datasource:
        url: jdbc:mysql://localhost:3306/cicd_deploy?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=Asia/Seoul
        username: root
        password: password
        driver-class-name: com.mysql.cj.jdbc.Driver

    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                show-sql: true
                format_sql: true

server: 
    port: 8080

